.dark-blue {
    color: #404969;
}

.accent {
    color: #FF895D;
}

.off-white {
    color: #fcfcfc;
}

.pink {
    color: #e23e57;
}

.light-blue {
    color: #78bbe6;
}

.sky-blue {
    color: #d5eeff;
}