.dark-blue {
    color: rgba(64, 73, 105, 1)
}

.accent {
    color: rgba(255, 137, 93, 1)
}

.off-white {
    color: rgba(252, 252, 252, 1)
}

.pink {
    color: rgba(226, 62, 87, 1)
}

.light-blue {
    color: rgba(120, 187, 230, 1)
}

.sky-blue {
    color: rgba(213, 238, 255, 1)
}

.gray {
    color: rgba(61, 61, 61, 1)
}