#footer {
    order: 5;
    height: 100vh;
    width: 100%;
    background-color: rgba(61, 61, 61, 1);
}


#social ul {
    text-align: center;
    padding: 0;
}

#social ul li {
    display: inline;
    list-style-type: none;
}

#social ul li a {
    text-decoration:  none;
}

.social-icon i {
    color: rgba(213, 238, 255, 1);
    font-size: 2em;
}

.social-icon i:hover {
    color: rgba(226, 62, 87, 1);
}