header {
    position: fixed;
    background-color: #fcfcfc;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;
    z-index: 1;
}

#main-header {
    font-family: Cormorant;
    width: 100%;
    font-weight: 700;
    color: #404969;
    font-size: 3em;
    margin: auto;
    width: 70%;
}

.hamburger {
    width: 0.6em;
    height: 0.6em;
    border: 1px solid rgba(226, 62, 87, 0.5);
    border-radius: 2em;
    box-shadow: 0 0 2px rgba(226, 62, 87, 0.5);
    padding: 10px 10px;
    position: absolute;
    top: 20%;
    right: 1%;
}

.hamburger-stripe {
    background-color: rgba(226, 62, 87, 0.5);
    height: 2px;
    width: 10px;
    margin-bottom: 2px;
}

#main-nav {
    width: 30%
}

.spacing {
    margin-right: 0.1em;
}

.main-nav-item {
    list-style: none;
}

/* .line {
    height: 5px;
    width: 100%;
    background-color: #78bbe6;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
} */