header {
    order: 1;
    height: 100vh;
    background-color: rgba(61, 61, 61, 1);
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.intro {
    order: 1;
    flex-grow: 1;
}

#main-header {
    text-transform: uppercase;
    font-family: Montserrat;
    width: 100%;
    font-weight: 100;
    font-size: 7em;
    margin: auto;
    width: 100%;
    padding-top: 10%;
}

#main-title {
    font-family: Cormorant;
}

#main-nav {
    order: 3;
    flex-grow: 1;
    width: 100%;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

#main-nav ul {
    padding: 0;
    font-size: 2em;
}

#main-nav ul li {
    display: inline;
    color: rgba(252, 252, 252, 1)
}

#main-nav ul li i {
    padding-left: 10px;
}

#main-nav ul li a:hover {
    color: rgba(226, 62, 87, 1);
}

#main-nav ul li a {
    text-decoration: none;
    color: rgba(213, 238, 255, 1);
    padding-left:10px;
    padding-right: 10px;
}

.spacing {
    margin-right: 0.1em;
}

.main-nav-item {
    list-style: none;
}

.hidden {
    display: none;
}

.hamburger {
    width: 0.6em;
    height: 0.6em;
    border: 1px solid rgba(226, 62, 87, 0.5);
    border-radius: 2em;
    box-shadow: 0 0 2px rgba(226, 62, 87, 0.5);
    padding: 10px 10px;
    position: absolute;
    top: 20%;
    right: 1%;
}

.hamburger-stripe {
    background-color: rgba(226, 62, 87, 0.5);
    height: 2px;
    width: 10px;
    margin-bottom: 2px;
}