header {
    order: 1;
    height: 100vh;
    background-color: white;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-image: url("../images/milky-way.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgray;
    z-index: 11;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

header div, header nav {
    z-index: 12;
}

.intro {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

#main-header {
    order: 1;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 7em;
    font-size: 7vw;
    margin: auto;
    height: 40%;
    display: flex;
    align-items: flex-end;
    text-shadow: 1px 1px 2px black;
}

#main-title {
    order: 2;
    font-size: 2em;
    font-size: 2vw;
    font-family: Montserrat;
    font-weight: 700;
    height: 40%;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
}

.arrow-down {
    order: 3;
    color: rgba(252, 252, 252, 1.0);
    z-index: 12;
    height: 20%;
    font-size: 4em;
    font-size: 4vw;
}

.fa-angle-down:hover {
    cursor: s-resize;
}

#main-nav {
    order: 1;
    width: 100%;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(61, 61, 61, 0.5);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-size: 1vw;
}

#main-nav ul {
    padding: 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

#main-nav ul li {
    color: rgba(252, 252, 252, 1)
}

#main-nav ul li a:hover {
    color: rgba(226, 62, 87, 1);
}

#main-nav ul li a {
    text-decoration: none;
    color: rgba(213, 238, 255, 1);
}

.spacing {
    margin-right: 0.1em;
}

.main-nav-item {
    list-style: none;
}

.hidden {
    display: none;
}

.hamburger {
    width: 0.6em;
    height: 0.6em;
    border: 1px solid rgba(226, 62, 87, 0.5);
    border-radius: 2em;
    box-shadow: 0 0 2px rgba(226, 62, 87, 0.5);
    padding: 10px 10px;
    position: absolute;
    top: 20%;
    right: 1%;
}

.hamburger-stripe {
    background-color: rgba(226, 62, 87, 0.5);
    height: 2px;
    width: 10px;
    margin-bottom: 2px;
}

@media screen and (max-width: 768px) {

}