header {
    position: fixed;
    background-color: rgba(252, 252, 252, 1);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
}

#main-header {
    text-transform: uppercase;
    font-family: Montserrat;
    width: 100%;
    font-weight: 100;
    font-size: 3em;
    margin: auto;
    padding-top: 10px;
    width: 100%;
}

.hidden {
    display: none;
}

.hamburger {
    width: 0.6em;
    height: 0.6em;
    border: 1px solid rgba(226, 62, 87, 0.5);
    border-radius: 2em;
    box-shadow: 0 0 2px rgba(226, 62, 87, 0.5);
    padding: 10px 10px;
    position: absolute;
    top: 20%;
    right: 1%;
}

.hamburger-stripe {
    background-color: rgba(226, 62, 87, 0.5);
    height: 2px;
    width: 10px;
    margin-bottom: 2px;
}

#social ul {
    position: absolute;
    top: 10px;
    right: 1%;
}

#social ul li {
    display: inline;
    list-style-type: none;
}

#social ul li a {
    text-decoration:  none;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

#main-nav {
    width: 30%
}

.spacing {
    margin-right: 0.1em;
}

.main-nav-item {
    list-style: none;
}

.line {
    height: 5px;
    width: 100%;
    background-color: rgba(226, 62, 87, 1);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}