body {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(252, 252, 252, 1);
    height: 100%;
    margin: 0 0;
}

::-webkit-scrollbar { 
    display: none; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*about section*/

#hero {
    z-index: 12;
    order: 2;
    font-size: 1em;
    width: 100%;
    font-weight: 100;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5%;
}

.about-container {
    order: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    background-color: rgba(213, 238, 255, 0.5);
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-info {
    order: 2;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
}

.about-container, .about-info {
    display: flex;
    flex-direction: row;
}

.about-img {
    order: 1;
    width: 10%;
    justify-content: center;
}

.about-img img {
    max-width:100%;
    max-height:100%;
    border-radius: 100px;
}

.about-head {
    order: 2;
    margin-left: 3%;
}

.a-1, .a-2, .a-3 {
    display: flex;
    flex-direction: column;
    width: 27%;
}

.bolded {
    font-weight: 700;
    font-size: 3em;
    font-size: 3vw;
    margin-top: 0px;
}

.p-icon {
    font-size: 3.5em;
    font-size: 3.5vw;
}

.par {
    font-size: 1.5em;
    font-size: 1.5vw;
}


/*work section*/

.work-title {
    width: 100%;
    background-color: rgba(61, 61, 61, 0.8);
    text-align: center;
    color: rgba(252, 252, 252, 1);
    font-family: Montserrat;
    font-size: 4em;
    font-size: 4vw;
}

.work-title h1 {
    text-transform: uppercase;

}

.line {
    background-color: rgba(61, 61, 61, 1);
    height: 1px;
    width: 90%;
}

#work {
    order: 3;
    width: 100%;
    background-color: rgba(213, 238, 255, 0.5);
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    z-index: -1;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.desc h3 {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.desc {
    color: rgba(61, 61, 61, 1);
    font-family: Rubik;
    padding-left: 5%;
    padding-right: 5%;
}

.desc p {
    font-weight: 300;
    font-size: 1.5em;
    font-size: 1.5vw;
}

.desc p:second-child {
    font-weight: 300;
    font-style: italic;
}

.d-1, .d-3 {
    order:1;
    width: 50%;
}

.i-1, .i-3 {
    order: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.i-1 img, .i-2 img, .i-3 img, .i-4 img {
    width: 80%;
    border-radius: 5px;
    order: 2;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-1-links {
    order: 3;
    text-align: left;
}

.i-1-links a {
    text-decoration: none;
    font-size: 2em;
    font-size: 2vw;
    margin-right: 10%;
    color: rgba(226, 62, 87, 1);
}

.i-1-links a:hover {
    cursor: pointer;
    color: rgba(64, 73, 105, 1);
}


.d-2, .d-4 {
    order: 2;
    width: 50%;
}
    
.i-2, .i-4 {
    order: 1;
    width: 50%;
}




/*tech section*/

#tech {
    order: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/workspace.JPG");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tech-title {
    order: 1;
    width: 80%;
    margin-top: 5%;
    text-align: center;
    align-items: center;
    font-family: Montserrat;
    text-transform: uppercase;
    background-color: rgba(61, 61, 61, 0.8)
}

.tech-title h1 {
    font-size: 3em;
    height: 20%;
}

.tech-content {
    order: 2;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    background-color: rgba(61, 61, 61, 0.8);
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tech-desc {
    order: 1;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2em;
    font-size: 2vw;
    align-items: center;
}

.tech-desc span {
    font-weight: 700;
}

        
@media screen and (max-width: 768px) {
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-title {
        display: block;
        text-align: center;
        order: 1;
        width: 90%;
    }

    #mobile-title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 20%;
        flex-shrink: 2;
        padding-bottom: 5%;
    }

    #desk-title {
        display: none;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .a-1, .a-2, .a-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }

    .p-icon {
        margin-top: 0px;
        font-size: 2em;
        margin-right: 2%;
        margin-bottom: 0px;
    }

    .bolded {
        margin-top: 0px;
        font-size: 2em;
        margin-bottom: 0px;
    }

    .par {
        text-align: left;
        margin-bottom: 5%;
        font-size: 1em;
    }
    
    .project {
        z-index: -1;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
    }

    .d-1, .d-2, .d-3, .d-4 {
        order: 2;
        width: 100%;
    }
        
    .i-1, .i-2, .i-3 .i-4 {
        order: 1;
        width: 100%;
    }

    .i-2 img {
        margin-left: auto;
        margin-right: auto;
    }
    
    .desc p {
        font-size: 1em;
    }

    .i-1-links a {
        font-size: 1em;
    }

    .tech-title h1 {
        font-size: 2em;
        height: 20%;
    }

    .tech-desc {
        width: 80%;
        font-size: 1em;
        align-items: center;
    }
}