body {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(252, 252, 252, 1);
    height: 100%;
    margin: 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.main-section {
    position: absolute;
    width: 90%;
    top: 10%;
    display: flex;
    flex-direction: column;
}

.hero {
    background: url("../images/me-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    order: 1;
    font-size: 1em;
    width: 100%;
    font-weight: 100;
    z-index: -1;
}

#he-1 {
    margin-top: 20%;
    text-indent: 5%;
}

#he-2 {
    text-indent: 20%;
}

#he-3 {
    text-indent: 17%;
}

#he-4 {
    text-indent: 14%;
}

#he-5 {
    text-indent: 11%;
}

#he-6 {
    text-indent: 8%;
}

.about-me {
    order: 3;
    display: flex;
    flex-direction: row;
    height: 400px;
    z-index: 0;
    background-color:rgba(252, 252, 252, 1);
    border: solid 1px rgba(226, 62, 87, 1);
    border-radius: 5px;
}

.about-text {
    margin: 5% 5%;
}

.work {
    order: 4;
    width: 100%;
    background-color: rgba(252, 252, 252, 1);
    border-radius: 5px;
    height: 1600px;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.project {
    height: 25%;
    z-index: -1;
    width: 100%;
    -moz-border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
}

.img, .desc {
    width: 50%;
    height: 0;
    padding-bottom: 100%;
}

.img:hover {
    background-color: rgba(226, 62, 87, 1);
}

h3 {
    font-size: 16px;
    text-align: center;
    padding: 10%;
}

.d-1 {
    background-color: rgba(213, 238, 255, 1);
    order:1;
}

.i-1 {
    background: url("../images/placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 2;
}

.d-2 {
    background-color: rgba(213, 238, 255, 1);
    order: 2;
}
    
.i-2 {
    background: url("../images/placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 1;
}

.d-3 {
    background-color: rgba(213, 238, 255, 1);
    order: 1;
}
        
.i-3 {
    background: url("../images/placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 2;
}

.d-4 {
    background-color: rgba(213, 238, 255, 1);
    order: 2;
}

.i-4 {
    background: url("../images/placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 1;
}
        
