body {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(252, 252, 252, 1);
    height: 100%;
    margin: 0 0;
}

::-webkit-scrollbar { 
    display: none; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#hero {
    order: 2;
    font-size: 1em;
    width: 100%;
    height: 100vh;
    font-weight: 100;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-img {
    order: 1;
    width: 40%;
}

.about-img img{
    padding-left: 5%;
    max-width:100%;
    /* max-height:100%; */
}

.about-text {
    order: 2;
    width: 60%;
    padding-left: 10%;
    padding-right: 5%;
}

.about-text-p1 {
    font-size: 3em;
    font-size: 3vw;
}

.about-text-p2 {
    font-size: 2em;
    font-size: 2vw;
}

#work {
    order: 3;
    width: 100%;
    height: 100vh;
    background-color: rgba(252, 252, 252, 1);
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.project {
    height: 50vh;
    z-index: -1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img, .desc {
    width: 50%;
}

.img:hover {
    background-color: rgba(226, 62, 87, 1);
    cursor: pointer;
}

.desc h3 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    padding: 5%;
    text-decoration: underline;
}

.desc {
    background-color: rgba(61, 61, 61, 1);
    color: rgba(252, 252, 252, 1);
    font-family: Rubik;
}

.desc p {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 300;
}

.desc p:second-child {
    font-weight: 300;
    font-style: italic;
}

.d-1 {
    order:1;
}

.i-1 {
    background: url("/images/newsspot.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 2;
}

.d-2 {
    order: 2;
}
    
.i-2 {
    background: url("/images/chefspiration.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 1;
}

.d-3 {
    order: 1;
}
        
.i-3 {
    background: url("https://placeimg.com/640/480/arch");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 2;
}

.d-4 {
    order: 2;
}

.i-4 {
    background: url("https://placeimg.com/640/480/nature");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    order: 1;
}

#tech {
    order: 4;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-title {
    order: 1;
    width: 100%;
    text-align: center;
    align-items: center;
}

.tech-title h1 {
    font-size: 3em;
    height: 20%;
}

.tech-content {
    order: 2;
    display: flex;
    flex-direction: row;
    height: 80%;
    align-items: center;
}

.tech-desc {
    order: 1;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.8em;
    align-items: center;
}

.tech-desc span {
    font-weight: 700;
}

.tech-desc p {
    margin-bottom: 5%;
}

.tech-img {
    order: 2;
    width: 50%;
}

.tech-img img {
    max-width:90%;
}
        
